<ion-view view-title="Coldstone Cremery">
  <ion-content>
    <ion-list>
      
      <div ng-repeat="location in locations">
          <div class="item item-divider locationHolder">{{location.location}}</div>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="table in location.tables" type="item-text-wrap" href="#/tab/chats/{{table.id}}">
              
            <div class="bookingsCircle">
                  <div class="booking-height-fix"></div>
                  <div class="booking-size">{{tableBookings[table.id]}}</div>
            </div>
            <h2 class="tableName">Table {{table.id}}</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
